* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

/*top header stuff */
.navigation-link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: white;
  transition: all 1s ease;
}
.nav-link:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
}
.logo-container {
  width: 50%;
}
.my-logo {
  width: 100%;
  height: 200px;
}
.hamburger {
  display: none !important;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
}
.profile-picture-container {
  width: 100%;
}
.profile-picture {
  object-fit: contain;
  width: 100%;
  height: 200px;
}
.intro-container {
  border: 3px solid pink;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.intro-paragraph {
  text-align: center;
  line-height: 1.7;
}
.intro-text-container {
  width: 100%;
  border: 5px solid red;
}

a {
  color: black;
  text-decoration: none;
}
nav {
  width: 20%;
  border: 3px solid black;
  height: 3rem;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
}
nav:hover {
  background-color: black;
}
/* begin header stuff */
header {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.top-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav-links li {
  margin: 0 5px;
}
.success-header {
  background: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  width: 20rem;
}
.fa-home {
  color: #00c8dc;
}

/* begin projects stuff */
.projects {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-header {
  text-align: center;
}
.project-header-container {
  border: 3px solid red;
  padding: 10px 0;
}
.project-container {
  width: 30%;
  margin: 10px 5px;
  padding: 0 10px;
  background-color: #63bbf2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centered-paragraph {
  text-align: center;
}
.project-description-container {
  height: 200px;
  border: 3px solid red;
}
.project-picture-container {
  margin: 10px 3px;
  height: 100px;
  overflow: hidden;
}
.project-picture {
  object-fit: contain;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.about-project {
  text-align: center;
  line-height: 1.7;
}

.project-link {
  background-color: #d9d9d9;
  color: black;
  padding: 10px;
  margin: 0 2px;
  border-radius: 10%;
}
.button-link-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  border: 3px solid red;
}

/*form stuff */

.formContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  height: max-content;
}

.bigHeader {
  text-align: center;
}
.info-paragraph {
  text-align: center;
}
.headerContainer {
  padding: 3rem;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  background-color: white;
}
#mailIcon {
  color: #d9d9d9;
}
input {
  padding: 0.5rem;
  height: 1rem;
  border-radius: 10%;
  border-color: whitesmoke;
}
input:focus {
  outline: none;
  border: 2px solid #00c8dc;
  border-radius: 10%;
}

textarea {
  resize: none;
  margin: 0.5rem;
  border-radius: 10px;
  padding: 5px;
}
textarea:focus {
  outline: none;
  border: 2px solid #00c8dc;
}
button {
  width: 5rem;
  align-self: center;
  transition: all 1s ease;
}
button:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
}
.fcc-btn {
  background-color: #d9d9d9;
  color: black;
  padding: 3px 3px;
  text-decoration: none;
  transition: all 1s ease;
  margin: 0.5rem;
  border-radius: 10%;
  border: 1px solid black;
}
.fcc-btn:hover {
  color: #00c8dc;
  background-color: white;
}

#submitBtn {
  background-color: #d9d9d9;
  color: black;
  width: 200px;
  height: 3rem;
  border-radius: 10%;
  margin-bottom: 1rem;
}
#submitBtn:hover {
  background-color: white;
  color: #00c8dc;
}
footer {
  margin-top: 0.5rem;
  padding: 5rem;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  height: 100%;
}
.social-media-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
a:visited {
  text-decoration: none;
}

.socialContainer {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerH1 {
  padding: 1rem;
}
.social-icon {
  transition: all 800ms ease;
}
.social-icon:hover {
  color: white;
}

/* begin media for mobile */

@media screen and (max-width: 767px) {
  .top-nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .top-nav-links.show {
    display: flex;
  }
  .hamburger {
    display: block !important;
  }
  .formContainer {
    flex-direction: column;
  }
  p {
    font-size: 12px;
  }
  .fcc-btn {
    background-color: #d9d9d9;
    color: black;
    padding: 3px 3px;
    text-decoration: none;
    transition: all 1s ease;
    margin: 0.5rem;
    border-radius: 10%;
    border: 1px solid black;
  }
  .project-container {
    width: 30%;
    margin: 10px 5px;
    padding: 0 35px;
    background-color: #63bbf2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 455px) {
  .fcc-btn {
    background-color: #d9d9d9;
    color: black;
    padding: 0 3px;
    text-decoration: none;
    transition: all 1s ease;
    margin: 0.5rem;
    border-radius: 10%;
    border: 1px solid black;
  }
  .hamburger {
    display: block !important;
    font-size: 36px;
  }
}
